/*footer{*/
/*    background-color: aqua;*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*}*/

.productCard{
    background-color: chartreuse;
    height: 50px;
    width: 50px;
    font-weight: bold;
}

/*#product-card{*/
/*    background-color: coral;*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    font-weight: bold;*/
/*}*/

/*.productCard h1{*/
/*    font-size: 20px;*/
/*    color: blue;*/
/*}*/

/*#product-card>h1{*/
/*    font-size: 20px;*/
/*    color: orange;*/
/*}*/

.menu + p {
    color: greenyellow;
    font-weight: bold;
}

input[type="text"],
input[type="number"]{
    background-color: yellow;
    font-weight: bold;
}

button:hover{
    background-color: aqua;
}

.footer{
    background-color: aqua;
    font-weight: bold;
    font-size: 25px;
}

.footer_copyrigth{
    font-weight: 600;
}

.footer_socialMedia{
    font-size: 20px;
}

.addresses{
    height: 100px;
    width: 500px;
}

.addresses_item{
    background-color: wheat;
    font-weight: bold;
    color: black;
    font-size: 24px;
    height: 20px;
    width: 80px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.addresses_item--selected{
    background-color: black;
    color: white;
}




/*------------------------------------------------------Flex--------------------------------------------------------*/



.products{
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products__item{
    background-color: chocolate;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}